.App {
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App {
    animation: App-animation 0.3s ease-in-out;
  }
}

@keyframes App-animation {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
